# --- 1. CONFIG APLIKASI ---
HOST_IP=localhost
#localhost#192.168.18.36
NODE_ENV=development
PORT=3079 
BASE_URL=http://${HOST_IP}:3079

# --- 2. DATABASE CONFIG ---
# Ini disesuaikan dengan user/pass yang ada di docker-compose.dev.yml
DATABASE_URL="postgresql://e-office-api-v2:password123@localhost:5433/e-office-api-v2?schema=public"

# --- 3. MINIO CONFIG ---
# Mengarah ke localhost karena Docker MinIO jalan di laptop sendiri
# MINIO_ENDPOINT=localhost
MINIO_ENDPOINT=${HOST_IP}
MINIO_PORT=9000
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
# Bucket ini otomatis dibuat oleh container 'createbuckets' tadi
MINIO_BUCKET_NAME="e-office-storage" 
MINIO_REGION="us-east-1"
MINIO_USE_SSL="false"
MINIO_SERVER_URL=http://${HOST_IP}:9000

# Nama folder di dalam bucket (Boleh tetap sama)
MINIO_FOLDER_LAMPIRAN='lampiran'
MINIO_FOLDER_SIGNATURE='signature'
MINIO_EXPIRY_URL=604800

# --- ENKRIPSI & VERIFIKASI QR CODE ---
# Kunci enkripsi AES (minimal 32 karakter, jangan share ke publik!)
APP_KEY="k7mQ9xR2pL5wN8vB3yD6zF4jH1sA0cT9"
# Port Frontend (Development - untuk generate URL dari HP satu jaringan)
FRONTEND_PORT=3000
